<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.pcgov.pcova"
	versionCode 	= "89"
	version 	= "1.0.1">

	<name>PC OVA Portal</name>

	<description>
		The Peace Corps OVA Portal provides information to contact the Victim Advocate.
	</description>

	<author href="http://peacecorps.gov"
		email="innovation@peacecorps.gov">
		Peace Corps Office of Innovation
	</author>
    
    <!--Icons-->
     
    <icon src="icon.png" /> <!-- default 512 pixels -->
    
    <icon src="img/icons/ios/icon57.png" gap:platform="ios" width="57" height="57" /> <!-- iPhone & iPod Touch non retina iOS6 -->
    <icon src="img/icons/ios/icon114.png" gap:platform="ios" width="114" height="114" /> <!-- iPhone & iPod Touch retina iOS6 -->
    <icon src="img/icons/ios/icon120.png" gap:platform="ios" width="120" height="120" /> <!-- iPhone & iPod Touch retina iOS7 -->

    
    <!-- SPLASH SCREENS -->
    
    <gap:splash src="splash.png" /> <!-- default 320x480 pixels -->
    
    <gap:splash src="img/splash/ios/splash320x480.png" gap:platform="ios" width="320" height="480" /> <!-- iPhone & iPod Touch non retina -->
    <gap:splash src="img/splash/ios/splash640x960.png" gap:platform="ios" width="640" height="960" /> <!-- iPhone & iPod Touch retina 4- -->
    <gap:splash src="img/splash/ios/splash640x1136.png" gap:platform="ios" width="640" height="1136" /> <!-- iPhone & iPod Touch retina 5+ -->
    
    
   
   
    
    
	<!--<feature name="http://api.phonegap.com/1.0/geolocation"/>-->
	<!--<feature name="http://api.phonegap.com/1.0/network"/>-->

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
	<preference name="phonegap-version" value="2.9.0" />
	<preference name="orientation" value="portrait" />
	<!--<preference name="auto-hide-splash-screen" value="false" />-->
	<preference name="splash-screen-duration" value="8000" />
</widget>
